<div class="container">

<h1 class="text-center">Users</h1>

  <%= link_to 'New User', new_user_path, class:'btn btn-success col-sm-12' %>
  <br>
  <br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Playlists</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.playlists.count %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning'  %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>