<div class="container">

<h1 class="text-center">Playlists</h1>

  <%= link_to 'New Playlist', new_playlist_path, class:'btn btn-success col-sm-12' %>
  <br>
  <br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">User</th>
      <th scope="col">Songs</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= playlist.user.name %></td>
        <td><%= playlist.songs.count %></td>
        <td><%= link_to 'Show', playlist, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>